/* CSS Document */
body
{
margin:0;
padding:0;
text-align:center;
background:url(avocado_minimalism_pink_120543_3840x2160.jpg);
background-position:center;

}
h1
{
color:#666666;
font-size:36px;
}
p
{
text-align:center;
font-size:26px;
color:#FFFFFF;
}
#p1
{
font-style:italic;
}
#p3
{
background:#FFFFCC;

height:40px;

}

